### Added
- prometheus metric `gossip_attestation_verification_milliseconds` to track attestation gossip topic validation latency.
