### Changed

- Fix some nits associated with data column sidecar verification
