### Added 
- Data column sidecars verification methods.
