### Added

- KZG proof batch verification for data column gossip validation
